.wrapping-comments-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(36, 36, 40, 255);
    padding: 25px;
    border: 1px solid #4fb5ab;
    border-radius: 10px;
    gap: 10px;
}

.comments-container{
    border: 1px solid #4fb5ab;
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(185, 185, 185);
    width: 100%;
}

.comments-header{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.comments-user{
    display: flex;
    align-items: center;
    font-size: 32px;
    padding-left: 10px;
}

.comments-user-image{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgba(36, 36, 40, 255);
}

.comments-time{
    font-size: 14px;
    color: #33333350;
    margin-left: 10px;
}

.comments-body{
    margin-bottom: 10px;
}

.comments-text{
    font-size: 14px;
    color: rgba(36, 36, 40, 255);
}

.comments-delete-icon{
    margin-left: 10px;
    cursor: pointer;
    color: #c00d00;
    font-size: 24px;
    transform: translateY(-10px)
}

.comments-edit-icon{
    margin-left: auto;
    cursor: pointer;
    color: gray;
    font-size: 24px;
    transform: translateY(-10px)
}

.comments-accept-icon{
    margin-left: auto;
    cursor: pointer;
    color: #26bd58;
    font-size: 30px;
    transform: translateY(-10px);
}

.comments-cancel-icon{
    cursor: pointer;
    color: #c00d00;
    font-size: 40px;
    transform: translateY(-10px);
    padding-left: 8px;
}

.add-comments{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.add-comments-text{
    color: #4fb5ab;
}

.add-comments-button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #4fb5ab;
    background-color: #4fb5ab;
    color: rgba(36, 36, 40, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}